*.lnk
*.hlsl
*.dll
*.exe
*.exe_*
*.bat
*.jpg

/3Dmigoto*
/Engine
/Game
/logs
/ShaderCache
/ShaderFixes/3dvision2sbs.ini
/ShaderFixes/mouse.ini
/ShaderFixes/upscale.ini
/ShaderUsage.txt
/d3d11_log.txt
/nvapi_log.txt
/d3dx.ini

__pycache__